body {
    margin: 0;
    font-family: Helvetica, Sans-serif;
    background-color: #abc5f9f9;
    overflow-x: hidden;
}

@import url(https://fonts.googleapis.com/css?family=Lato:600);
@font-face {
    font-family: Thickcheers;
    src: url('font/Thick\ Cheers.woff2')
    format('woff2');
    }
    @font-face {
        font-family: Unisans;
        src: url('font/Uni\ Sans\ Heavy.woff2')
        format('woff2');
        }
    
#page {
    width: 100%;
    height: 100vh;
    position: relative;
}

section {
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section > div {
    font-weight: bold;
    font-size: 8vw;
    color: #f9f0f058;
    text-align: center;
    z-index: 50;
}

.one {
    background-color: #aafee543;
}

/* Rotating Text */
.rotating-text {
    font-family: Thickcheers;
    font-weight: 600;
    font-size: 40px;
    color: rgb(255, 232, 174);
    transform: translateX(-80px);
    text-shadow: 1px 2px 1px rgb(2, 2, 2);
    -webkit-text-stroke: 0.4px rgb(7, 6, 6);

    display:block;
    z-index: 9;
  }
  


.rotating-text p {
    display: inline-flex;
    margin: 0;
    vertical-align: text-top;
    font-family: unisans;
    font-size: 38px;
    text-shadow: 1px 1px #050505;
    cursor: pointer;
    
    &:hover {
      
      ~ .cursor {
        transition-duration: 10ms;
        transition-timing-function: ease-out;
        animation: pulse .8s infinite;
        
      
        
        @keyframes pulse {
          0% {
            transform: scale(0);
            opacity:0;
            box-shadow: 0 0 rgba(#61EF61, 1);
          }
          50% {
            opacity:1;
            transform: rotate(45deg);
          }
  
          100% {
            transform: scale(1.8);
            opacity:0;
            box-shadow: 0 0 10px 8px transparent;
            border-radius:100%;
          }
        }
   
      }
    }
}

.rotating-text .word {
    position: absolute;
    display: flex;
    opacity: 0;
}

.rotating-text .word .letter {
    transform-origin: center center 25px;
}

.rotating-text .word .letter.out {
    transform: rotateX(90deg);
    transition: 0.32s cubic-bezier(0.6, 0, 0.7, 0.2);
}

.rotating-text .word .letter.in {
    transition: 0.38s ease;
}

.rotating-text .word .letter.behind {
    transform: rotateX(-90deg);
}

.alizarin {
    color: #8bfe97;
}

.wisteria {
    color: #fb6fd4;
}

.peter-river {
    color: #c982ea;
}

.emerald {
    color: #e5734a;
}

.sun-flower {
    color: #f8ab64;
}
/*cursor*/

.cursor {
    width:60px;
    height:60px;
    border:3px solid #fbb5e5ac;
    border-radius:55%;
    position:fixed;
    box-shadow: 2px -3px 41px -1px rgba(253, 227, 167, 0.924);
    z-index: 100;
    opacity: 0;
  }
  

  
/* Waschmaschine und Kleidung Stage */
.stage {
    position: relative;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: bottom;
}

/* SVG-Styling */
section.one svg {
    width: 380px;
    height: auto;
    position: absolute;
    left: 25%;
    bottom: 0px;
    transform: translateX(-50%);
    filter: drop-shadow(3px 4px 3px rgba(4, 3, 3, 0.7));
    z-index: 15;
}

/* Korb positionieren */
.korb {
    position: absolute;
    right: 10%;
    bottom: 40px;
    width: 250px;
    height: auto;
    filter: drop-shadow(2px 3px 1px rgba(59, 0, 74, 0.6));
    z-index: 4;
    
}

/* Kleidungsstücke */
.kleidung {
    position: absolute;
    width: 120px;
    height: auto;
    filter: drop-shadow(2px 5px 1px rgba(5, 5, 5, 0.5));
    z-index: 0;
    opacity: 0;
}

/* Animation Kleidung */
.pulli {
    animation: fly-to-basket 4s ease-in-out infinite;
    animation-delay: 0s;
}

.pulligruen {
    animation: fly-to-basket 4s ease-in-out infinite;
    animation-delay: 2s;
}

.jacke {
    animation: fly-to-basket 4s ease-in-out infinite;
    animation-delay: 4s;
}

.schuhe {
    animation: fly-to-basket 6s ease-in-out infinite;
    animation-delay: 6s;
}

/* Flugbahn der Kleidung */
@keyframes fly-to-basket {
    0% {
        top: 30%;
        right: 15%;
        transform: rotate(0deg);
        opacity: 1;
    }
    
    50% {
        top: 2%;
        right: 50%;
        transform: rotate(360deg);
        opacity: 1;
    }
    
    90% {
        top: 20%;
        right: 70%;
        transform: rotate(600deg);
        opacity: 1;
    }
    
    100% {
        top: 40%;
        right: 70%;
        transform: rotate(720deg);
        opacity: 0;
    }

}


/* Individuelle Startpositionen */
.pulli {
    --start-x: 100px;
    animation-delay: 0s;
}

.pulligruen {
    --start-x: 150px;
    animation-delay: 0.5s;
}

.jacke {
    --start-x: 200px;
    animation-delay: 1s;
}

.schuhe {
    --start-x: 250px;
    animation-delay: 1.5s;
}

/* waves */

svg#waves{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
  #water{
    animation: move_left 10s linear forwards;
  }
  #water2{
    animation: move_left2 12s ease-out forwards;
    opacity: 0.75;
  }
  
  @keyframes move_left{
    0%{
      transform: translatex(0%) translatey(50%)
    }
    100%{
      transform: translatex(-100%) translatey(-50%)
    }
    0%{
      transform: translatex(0%) translatey(50%)
    }
  }
  @keyframes move_left2{
    0%{
      transform: translatex(-100%) translatey(50%)
    }
    100%{
      transform: translatex(0%) translatey(-50%)
    }
    0%{
      transform: translatex(-100%) translatey(50%)
    }
  }



/* bubbles */
.bubble {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    isolation: isolate;
    z-index: 30;
    pointer-events: none;
}

.bubble_content {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.demo__defs.hidden {
    display: none;
}

.demo__defs {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.bubble_content .svg.bubble {
    position: absolute;
    width: 50px;
    height: 50px;
    overflow: visible;
    mix-blend-mode: multiply;
    pointer-events: auto;
    z-index: 30;
}

.shape._hidden {
    opacity: 0;
}

.svg {
    position: absolute;
    overflow: visible;
    mix-blend-mode: multiply;
    z-index: 30;
}

.svg--defs {
    width: 0;
    height: 0;
    z-index: 30;
}

.bubble__splash {
    opacity: 0;
    pointer-events: none;
    z-index: 30;
}

.splash__circle:not(._hidden) {
    opacity: 1;
}